    <%- include("includes/header.ejs") %>
    <main>
      <form action="/admin/add-product" method="post">
        <input type="text" name="title" />
        <button id="add-product" type="submit">افزودن محصول</button>
      </form>
    </main>
  </body>
</html>
